# API
DEV_API_BASE_URL=https://your-api-url

# WEB
DEV_WEB_BASE_URL=https://your-web-url

# Partner account
DEV_PARTNER_USERNAME=your_partner_username
DEV_PARTNER_PASSWORD=your_partner_password

# Merchant account
DEV_MERCHANT_USERNAME=your_merchant_username
DEV_MERCHANT_PASSWORD=your_merchant_password

# Test data
DEV_DUP_USERNAME=existing_username_for_negative_test

#PROD ALSO, PLEASE FILL IN THE VALUES FOR PRODUCTION ENVIRONMENT
PROD_API_BASE_URL=https://your-prod-api-url
PROD_WEB_BASE_URL=https://your-prod-web-url
PROD_PARTNER_USERNAME=your_prod_partner_username
PROD_PARTNER_PASSWORD=your_prod_partner_password
PROD_MERCHANT_USERNAME=your_prod_merchant_username
PROD_MERCHANT_PASSWORD=your_prod_merchant_password
PROD_DUP_USERNAME=existing_prod_username_for_negative_test