# Python cache

**pycache**/
*.py[cod]
*$py.class

# Virtual environments

.venv/
venv/
env/
ENV/

# Pytest

.pytest_cache/
.coverage
coverage.xml
htmlcov/


# Logs

*.log

# IDE

.vscode/
.idea/

# OS files

.DS_Store
Thumbs.db

# Test artifacts

reports/*
!reports/.gitkeep
!reports/assets/
!reports/screenshots/
reports/assets/*
reports/screenshots/*

# Temporary files

*.tmp
*.temp

# Allure reports
allure-results/*
allure-report/*
allure-reports/*

#env files
.env
.env.*
!.env.example